.input {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    font-size: 14px;
  }

  &__control {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #dcdfe3;

    &:focus-visible {
      outline: none;
    }
  }

  &--full {
    width: 100%;
  }
}
