.alert {
  width: auto;
  height: auto;
  padding: 12px 16px;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 8px;

  &--success {
    background: #4caf50;
  }

  &--warning {
    background: #ff9800;
  }

  &--error {
    background: #f44336;
  }
}
