.signup {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    height: fit-content;
    padding: 24px;
    border-radius: 8px;
    background: #ffffff;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 8px;
  }

  @media screen and (min-width: 769px) {
    background: #006541;
    padding: 48px;

    &__wrapper {
      width: 66%;
    }
  }

  @media screen and (min-width: 1025px) {
    &__wrapper {
      width: 33%;
    }
  }
}
